{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="page-heading text-center">

        <div class="container zoomIn animated">

            <h1 class="page-title">ABOUT US <span class="title-under"></span></h1>
            <p class="page-description">

            </p>

        </div>

    </div>

    <div class="main-container">

        <div class="container">

            <div class="row fadeIn animated">

                <div class="col-md-6">

                    <img src="{% static 'images/masai.jpg' %}" alt="" class="img-responsive">

                </div>

                <div class="col-md-6">

                    <h2 class="title-style-2">Backhome organization <span class="title-under"></span></h2>

                    <p> The organization deals with education, health and environmental conservation. The
                        organization supports children from poor families to give them exercise books, pencil,
                        pens, rubber and d-light solar. These all is through donation. Also the organization
                        will find sponsors to support them in their academic carrier.</p>

                    <p> The organization provide free menstrual health education to girls especially in
                        rural areas. Girls in rural areas sometimes stay a week without attending classes due to
                        menstrual period and they don't know what to do.
                        The organization provides free sanitary pads and instruct them on how to use and make them
                        comfortable when they are in menstrual period.</p>

                    <p>The organization also supports poor families by provide medical insurance. Most rural
                        families are not able to get medical services due to poverty. This is through finding
                        sponsors who will support poor families.</p>
                    <p> Also the
                        organization gives education about the effect of HIV/AIDS so that will
                        increase awareness to people and take precautions.
                    </p>
                    <p>The organization advise people to take care of the environment
                        through collecting rubbish, planting tree and giving education about important
                        of environment
                    </p>


                </div>

            </div> <!-- /.row -->
            <div class="section-home home-reasons">
                <h2 class="title-style-1">Our Causes <span class="title-under"></span></h2>
                <div class="container">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="reasons-col animate-onscroll fadeIn">

                                <img src="{% static 'images/reasons/we-fight-togother.jpg' %}" alt="">

                                <div class="reasons-titles">

                                    <h3 class="reasons-title">We fight together</h3>
                                    <h5 class="reason-subtitle">We are humans</h5>

                                </div>

                                <div class="on-hover hidden-xs">

                                    <p>Back home organization (BHO), serves the community in different aspects.
                                        Especially, people with disabilities, girls from poor family and women's
                                        in Maasai community who are normally less treated as mens do .</p>
                                    <p>BHO provide
                                        Sanitary pads, soaps and all necessary materials during Menstruation period,
                                        as well as usage education just to make girls comfortable and able to attend
                                        daily activities like going to school. </p>
                                </div>
                            </div>

                        </div>


                        <div class="col-md-6">

                            <div class="reasons-col animate-onscroll fadeIn">

                                <img src="{% static 'images/reasons/we-care-about.jpg' %}" alt="">

                                <div class="reasons-titles">

                                    <h3 class="reasons-title">WE care about others</h3>
                                    <h5 class="reason-subtitle">We are humans</h5>

                                </div>

                                <div class="on-hover hidden-xs">

                                    <p>Back home organization (BHO), provide care to all members of the community. </p>
                                    <p>We concentrate on making sure that girls from poor families are empowered
                                        mentally
                                        as well as materially during menstrual period. All of the care provided by BHO
                                        is to
                                        make sure that members of the community especially girls and women are equally
                                        treated
                                        as men?s in their community.</p>
                                </div>


                            </div>

                        </div>


                    </div>


                </div>


            </div> <!-- /.home-reasons -->


            <div class="our-team animate-onscroll fadeIn">

                <div class="container">

                    <h2 class="title-style-1">Our Team <span class="title-under"></span></h2>

                    <div class="row">

                        <div class="col-md-4 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="{% static 'images/team/member-1.jpg' %}" alt="" class="cause-img">

                                </div>


                                <h4 class="member-name"><a href="#">Isaack Olesironga</a></h4>

                                <div class="member-position">
                                    CO-FOUNDER
                                </div>

                                <div class="btn-holder">
                                    <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                                    <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                                    <a href="#" class="btn"> <i class="fa fa-instagram"></i> </a></div>


                            </div> <!-- /.team-member -->

                        </div>

                        <div class="col-md-4 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="{% static 'images/team/member-2.jpg' %}" alt="" class="cause-img">

                                </div>


                                <h4 class="member-name"><a href="#">Dickson Loomoni</a></h4>

                                <div class="member-position">
                                    Program Director
                                </div>

                                <div class="btn-holder">

                                    <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                                    <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                                    <a href="#" class="btn"> <i class="fa fa-instagram"></i> </a>


                                </div>


                            </div> <!-- /.team-member -->

                        </div>


                        <div class="col-md-4 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="{% static 'images/team/member-3.jpg' %}" alt="" class="cause-img">

                                </div>


                                <h4 class="member-name"><a href="#">Solomon Elias</a></h4>

                                <div class="member-position">
                                    Information Technology
                                </div>

                                <div class="btn-holder">

                                    <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
                                    <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
                                    <a href="#" class="btn"> <i class="fa fa-instagram"></i> </a>
                                </div>


                            </div> <!-- /.team-member -->

                        </div>


                    </div>

                </div> <!-- /.row -->

            </div>

        </div>


    </div>
{% endblock %}